src/META-INF/wsdl/localhost_8080/PatreopolisSOAP/PatreopolisSOAPService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://patreopolissoap.telis.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://patreopolissoap.telis.com/">

<xs:element name="roll" type="tns:roll"/>

<xs:element name="rollResponse" type="tns:rollResponse"/>

<xs:complexType name="roll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="rollResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>